html {
    font-family: Arial, Helvetica, sans-serif;
}

.top-section {
    background-color: #1F2937;
    padding-bottom: 100px;
}

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    margin-left: 100px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    margin: 18px 0px 100px 100px;
    font-weight: 700;
}

.hero-secondary, .header-links {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-secondary {
    margin-left: 100px;
}

ul {
    list-style-type: none; 
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-links ul {
    display: flex;
    gap: 16px;
    margin: 18px 118px 100px 0px;
}

.container {
    display: flex;
    margin-right: 118px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    gap: 8px;
}

button {
    padding: 5px 24px;
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.img-outline {
    border-radius: 15px;
    border: 5px solid #3275dd; 
    width: 150px;
    height: 150px; 
}

.section-two-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 50px 0px;
}

.section-two-container {
   display: flex;
   justify-content: center;
   gap: 48px;
}

.img-subtext {
    width: 150px;
    text-align: center;
}

.img-outline {
    margin-bottom: 16px;
}

.second-section {
    margin-bottom: 100px;
}

.third-section {
    background-color: #E5E7EB;
    padding: 100px 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.name {
    font-weight: 700;
    font-size: 18px;
    text-align: right;
}

.fourth-section {
    margin: 100px;
    display: flex;
    justify-content: center;
}

.blue-background {
    border-radius: 5px;
    border: 1px solid #3882F6; 
    width: 100%;
    min-height: 100px;
    height: fit-content;
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fourth-section button {
    border: 3px solid white;
}

.blue-background .text, .signup-button {
    margin: 25px 100px;
}

.fourth-section .title {
    color: #F9FAF8;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 8px;
}

.fourth-section .description {
    color: #E5E7EB;
    font-size: 18px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 100px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}